body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    color: #333;
}

header {
    position: sticky;
    top: 0;
    text-align: center;
    font-size: 1em;
    background-color: #fff;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
    color: #333;
}

main {
    padding: 10px 20px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

h2,
h3 {
    color: #333;
    margin-bottom: 10px;
}

code {
    background-color: #f0f0f0;
    padding: 3px 6px;
    border-radius: 3px;
    font-size: 0.95em;
    font-family: Consolas, Monaco, 'Andale Mono', monospace;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}

footer {
    position: sticky;
    bottom: 0;
    background-color: #fff;
    padding: 10px 20px;
    text-align: center;
    color: #666;
    font-size: 1em;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

p {
    margin-bottom: 15px;
}

/* Responsive adjustments */
@media (max-width: 600px) {
    header,
    footer {
        padding: 10px;
    }
}